 
header p
{animation: myAnim 2s ease 0s 1 normal forwards;
 font-size: 10px;   
}
@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}